files/Schemas/Cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="ProjetoPEI/Grupo/Entrega1/Cliente"
           xmlns="ProjetoPEI/Grupo/Entrega1/Cliente"
           elementFormDefault="qualified">
    
    <xs:import schemaLocation="CommonSchema.xsd" 
               namespace="ProjetoPEI/Grupo/Entrega1/CommonSchema"/>
			
        <xs:complexType name="typeCliente">
            <xs:sequence>
                <xs:element name="Nome" type="typename"/>
                <xs:element name="NIF" type="NIF"/>
            </xs:sequence>
        </xs:complexType>
  
	
</xs:schema>