files/Schemas/Loja.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="ProjetoPEI/Grupo/Entrega1/Loja"
           xmlns="ProjetoPEI/Grupo/Entrega1/Loja"
           elementFormDefault="qualified">
    
	<xs:import schemaLocation="CommonSchema.xsd" 
			   namespace="ProjetoPEI/Grupo/Entrega1/CommonSchema"/>
	

	<xs:element name="Loja" >
		<xs:complextype>
			<xs:sequence>
				<xs:element name="Name" type="nametype"/>
				<xs:element name="Adress" type="adresstype"/>
				<xs:complextype name="Contacts">
					<xs:sequence>
						<xs:element name="Email" type="emailtype"/>
						<xs:element name="Phone" type="phonetype"/>	
					</xs:sequence>
				</xs:complextype>
			</xs:sequence>
		</xs:complextype>
	</xs:element>	
			   
</xs:schema>